<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>野狗+七牛 图片存储 - JavaScript </title>
  <link href="favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="js/highlight/highlight.css">

  <!--[if lt IE 9]>
      <script src="js/Respond-1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style type="text/css">
    .container-fluid {
  padding: 20px;
  }
.box {
  margin-bottom: 20px;
  float: left;
  width: 220px;
  }
  .box img {
  max-width: 100%
}
</style>
<body>
<div class="container">
  <div class="text-left col-md-12 wrapper">
    <h1 class="text-left col-md-12 ">
        WildDog + qiniu  实现图片存储
            <a class="btn btn-default view_github" href="https://github.com/WildDogTeam/demo-js-qiniu" target="_blank">
        <img src="http://qtestbucket.qiniudn.com/GitHub-Mark-32px.png">
        View Source on Github
      </a>
    </h1>
        <input type="hidden" id="domain" value="<%= domain %>">
        <input type="hidden" id="uptoken_url" value="<%= uptoken_url %>">
    </div>
    <div class="body">
        <div class="col-md-12">
            <div id="container">
                <a class="btn btn-default btn-lg " id="pickfiles" href="#" >
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>选择文件</span>
                </a>
            </div>
        </div>

        <div style="display:none" id="success" class="col-md-12">
            <div class="alert-success">
                队列全部文件处理完毕
            </div>
        </div>
        <div class="col-md-12 ">
        <div id="masonry" class="container-fluid">
    
        </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="js/plupload/i18n/zh_CN.js"></script>
<script type="text/javascript" src="/js/qiniu.js"></script>
<script type="text/javascript" src="/js/highlight/highlight.js"></script>
<script type="text/javascript" src="/js/wd.js"></script>
<script type="text/javascript" src="/js/conf.js"></script>
<script src = "https://cdn.wilddog.com/js/client/current/wilddog.js" ></script>
<script type="text/javascript" src="js/masonry-docs.min.js"></script> 

</body>
</html>
